<a href="https://colab.research.google.com/github/Bil4l-Mehmood/my-codes-python-/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Arthemetic Operators**

1. ADDITION

In [ ]:
num1 : int = 5
num2 : int = 5
sum : int = num1 + num2
print (sum)

10

2. SUBTRACTION

In [ ]:
num1 : int = 10
num2 : int = 5
sub : int = num1 - num2
print (sub)

5

3. MULTIPLICATION

In [ ]:
num1 : int = 9
num2 : int = 3
mul : int = num1 * num2
print (mul)

27

4. DIVISION

In [ ]:
num1 : int = 16
num2 : int = 2
div : int = num1 / num2
print (div)

8.0

5. EXPONENT

In [ ]:
print (5 ** 2)
print (8 ** 2)

25
64

6. FLOOR DIVISION

In [ ]:
print (11 // 2)
print(33 // 2)

5
16

7. MODULUS / REMAINDER

In [ ]:
print (11 % 2)
print (64 % 2)

1
0

# **Assignment Operators**

1. ADDITION

In [ ]:
x : int = 10
x = x + 5
print (x)

15

2. SUBTRACTION

In [ ]:
x : int = 50
x = x - 49
print (x)

1

3. MULTIPLICATION

In [ ]:
x : int = 5
x = x * 5
print (x)

25

4. DIVISION

In [ ]:
x : int = 15
x = x / 3
print (x)

5.0

# **Comparsion Operators**

" == " means " Equal ". So, "x" is equal to "y"

In [ ]:
x = 10
y = 10
print (x == y)

True

" > " means "Greater Than". So, " x " is greater than " y "

In [ ]:
x = 150
y = 100
print ( x > y)

True

" < " means "Less Than". So, " x " is less than " y "

In [ ]:
x = 300
y = 250
print ( x < y)

False

" >= " means "Greater Than Equal To". So, " x " is greater than or equal to " y "

In [ ]:
x = 120
y = 80
print ( x >= y)

True

" <= " means "Less Than Equal To". So, " x " is less than or equal to " y "

In [ ]:
x = 99
y = 100
print ( x <= y)

True

" != " means "Not Equal To". So, " x " is not equal to " y "

In [ ]:
x = 50
y = 50
print ( x != y)

False

## **Logical Operators**

## There are 3 types of logical operators which are as follow ;

1.   AND
2.   OR
3.   NOT

**1. AND Operator**

In [29]:
num1 : int = 20
num2 : int = 11
# condition
# num1 is greater than 10
# AND
# num2 is less than 30
# True    and    False
print (num1 > 10)
print(num1 > 20)
print(num1 < 30)
print(num1 < 10 and num1 > 20 and num1 < 30)

True
False
True
False

**2. OR Operator**

In [30]:
num1: int = 40
print( num1 > 10 and num1 < 30) # dono conditions true honi chahiye
#    True    YA     False
print( num1 > 10 or num1 < 40)

False
True

# **If / Else Statement**

1. **IF STATEMENT**

In [31]:
#        if   /  else
#       AGHR     WRNA

num1 = 2
num2 = 1
if num1 > num2:
    print("Hello")
    uname= "Sir Ameen"
    print(uname)

Hello
Sir Ameen